@import "~sanitize.css/sanitize";
@import "~material-components-web/dist/material-components-web.min.css";

:root {
    --mdc-theme-primary: #3f51b5;
    --mdc-theme-secondary: #f44336;
    --mdc-theme-on-primary: #ffffff;
    --mdc-theme-on-secondary: #ffffff;
}

.mdc-button.mdc-button--raised {
    background-color: var(--mdc-theme-secondary, #018786);
}

.full-width {
    width: 100%;
}

html body {
    height: 100%;
}
@import "configs/breakpoints";
@import "configs/colors";
@import "configs/sizes";
@import "components/buttons";
@import "components/icons";
@import "components/input";
@import "components/text";
@import "components/alert";
@import "components/close";
@import "components/container";
@import "components/media";
@import "components/modal";
@import "components/panel";
@import "components/topbar";
@import "components/tab";
@import "components/topbar";
@import "panels/grid";
@import "panels/invalid";
@import "panels/scenes";
@import "panels/sources";
@import "panels/mixer";
@import "panels/stream";
@import "panels/transitions";
@import "panels/durations";
@import "pages/connect";
@import "pages/dashboard";
@import "pages/home";
@import "pages/settings";
